includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
  level: 3
  paths:
    - .
  ignoreErrors:
    # new static() is a best practice in Drupal; ignore for now.
    - "#^Unsafe usage of new static#"
